* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.griglia {
    width: 95%;
    margin: auto;
}

.container {
    padding-top: 50px;
    display: inline-block;
}

.camera-utente {
    position: relative;
}

.camera-utente img {
    margin: 0 2px;
    padding-top: 10px;
}

.nome {
    position: absolute;
    bottom: 5px;
    left: 2px;
    padding: 5px 10px;
    background-color: rgba(100,113,125,0.5);
    border-radius: 0 5px 5px 0;
    color: white;
}

section {
    display: flex;
    justify-content: flex-end;
}

.speaker-view {
    background-color: rgba(100,113,125,0.5);
    padding: 5px 10px;
    color: white;
    position: fixed;
    border-radius: 5px;
    top: 10px;
    right: 60px;
    z-index: 1;
    cursor: pointer;
}

.espandi {
    background-color: rgba(100,113,125,0.5);
    padding: 5px 10px;
    color: white;
    position: fixed;
    border-radius: 5px;
    top: 10px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
}

.container-footer {
    width: 100vw;
    background-color: #222222;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.audio_e_video {
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.audio_e_video i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.audio, .video {
    color: white;
    padding-left: 20px;
    flex-direction: column;
}

.opiton i{
    color: white;
}

.dasboard_centrale {
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 90px;
    margin: auto;
}

.audio, .option, .video, .button, .end-meeting{
    cursor: pointer;
} 

.dasboard_centrale .fas, .dasboard_centrale .far {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.view_chat .fa-angle-up{
    font-size: 20px;
    color: white;
}

.fa-share-square {
    color: #4bc901;
}

.end-meeting {
    color: red;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 0 30px;
}
